h1 {
  margin-bottom: 40px;
}
.form-control {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: solid 1px #eeeeee;
	height: 34px;
	font-size: 12px;
}

.form-control:focus {
	-webkit-box-shadow: 0 0 1px rgba(102, 175, 233, 0.6);
	box-shadow: 0 0 1px rgba(102, 175, 233, 0.6);
}

.ng-invalid {
  border-color: red !important;
}
